<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				
				<rule name="base_html"> 
					<match url="^(\w+)\.html$" /> 
					<action type="Rewrite" url="index.php?rewriteurl={R:1}"/> 
				</rule>
				
				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
