<?php if($da['arr']['isaddlog']==1){?>
<div class="stitle"><b>进度报告</b></div>
<div>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td ><div align="right" style="padding-right:10px"><font color=red>*</font>状态</div></td>
			<td><div align="left" style="padding:10px 0px"><select class="inputb" onchange="changeztla(this)" id="ztidselect"><option <?php if($da['arr']['state']==0)echo 'selected';?> value="0">待执行</option><option <?php if($da['arr']['state']==2)echo 'selected';?> value="2">执行中</option><option <?php if($da['arr']['state']==1)echo 'selected';?> value="1">已完成</option><option <?php if($da['arr']['state']==3)echo 'selected';?> value="3">中止</option><option value="4">指派给</option></select></div></td>
		</tr>
		
		<tr id="zhipdtr" style="display:none">
			<td nowrap><div align="right" style="padding-right:10px"><font color=red>*</font>指派给</div></td>
			<td><div align="left" style="padding-bottom:10px"><table cellpadding="0" border="0"><tr><td width="100%"><input  class="inputb" style="width:98%" id="changedist" readonly type="text" name="dist"><input name="distid" id="changedist_id" type="hidden"></td><td nowrap><a href="javascript:;"  onclick="js.changeclear('changedist')" class="webbtn">×</a><a href="javascript:;" onclick="js.changeuser('changedist','changeuser')" class="webbtn">选择</a></td></tr></table></div></td>
		</tr>
	
	
	</table>	
</div>
<div align="center"><textarea placeholder="备注/说明" class="inputb" id="other_explain" style="width:96%;height:60px"></textarea></div>

<div style="padding:10px 0px">
<input class="webbtn" id="spage_btn" onclick="submittttt()" style="width:30%;" type="button" value="提交">
&nbsp;<span id="msgview_spage"></span>

</div>

<script>
function submittttt(){
	var o = get('ztidselect');
	var ocan = {},ztid=o.value,sm='';
	if(ztid=='4'){
		var distid=get('changedist_id').value,dist=get('changedist').value;
		ocan.distid=distid;
		ocan.dist=dist;
		if(distid==''){
			js.setmsg('请指派给对应人员','','msgview_spage');
			return;
		}
		sm='指派给:'+dist+';'+get('other_explain').value;
		ocan.sm=sm;
	}
	c.others('进度报告',o[o.selectedIndex].text,ztid, ocan);
}
function changeztla(o1){
	if(o1.value=='4'){
		$('#zhipdtr').show();
	}else{
		$('#zhipdtr').hide();
	}
}
</script>
<?php }?>